---
import Projects from '../components/projects/Projects.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
    <main class="flex-1">
        <div class="mb-12">
            <Projects />
        </div>
    </main>
</BaseLayout>

<style>
    main {
        padding: 1rem;
        /* width: 1200px; */
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>
