---
import { Icon } from 'astro-icon/components';
import { SITE_TITLE } from '../consts';
---

<header class="py-4 flex flex-col justify-center items-center">
    <Icon name="logo" class="w-20 h-20 mb-4 text-indigo-600" />
    <h1 class="text-6xl font-bold text-indigo-600 mb-4 text-center">{SITE_TITLE}</h1>
</header>
