---
interface Props {
    title: string;
    href: string;
}

const { href, title } = Astro.props;
---

<a
    class="flex items-center justify-center space-x-3 px-3.5 py-2.5 bg-amber-50 rounded-lg transition fill-amber-950 hover:bg-amber-100 w-full sm:w-fit max-w-[225px]"
    href={href}
    target="_blank"
>
    <slot />
    <h4 class="uppercase text-base font-semibold text-amber-950">{title}</h4>
</a>
