---
import { Icon } from 'astro-icon/components';

interface Props {
    title: string;
    href: string;
    icon: string;
}

const { href, title, icon } = Astro.props;
---

<a
    class="flex items-center justify-center space-x-2.5 px-3.5 py-2.5 text-amber-50 bg-amber-500 rounded-lg transition fill-amber-50 hover:bg-amber-600 w-full sm:w-fit max-w-[225px]"
    href={href}
    target="_blank"
    rel="noopener noreferrer"
>
    <Icon name=`simple-icons:${icon}` class="w-4 h-4" />
    <h4 class="uppercase text-sm font-semibold text-amber-50">{title}</h4>
</a>
